/* Author: Jay Patel, 000881881 */
.input{
    margin-top: 20px !important; 
}

button{
    text-align: center;
    margin: 10px !important;
}

.input, .btns{
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

#container2 {
display: flex;
justify-content: center;

text-align: center;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: left !important;
  }

table{
    margin: auto;
}

footer{
    text-align: center;
}